<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='usr.css') }}">
    <script src="usr.js"></script>
    <title>USR</title>
</head>
<body>
    <div class="menu">
        <div class="logo">
            <p>USR</p>
        </div>
        <div class="menuitem" align="right">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="login.html">LOGIN</a></li>
            <li><a href="usrgenerate.html">Generate USR</a></li>
        </ul>
        </div>
    </div>


    <div class="adcontent">
        <form action="{{ url_for('signup') }}" method="post">
          <div class="headname"><h1>SIGN UP</h1></div>
          <div class="msg">{{ msg }}</div>
          <div class="field">
            <input id="author_name" type="text" placeholder="Author Name" name="author_name" required>
          </div>
          <div class="field">
            <input id="email" type="text" placeholder="Email" name="email" required>
          </div>
          <div class="field">
            <input id="password" type="password" placeholder="Password" name="password">
          </div>

          <div class="radio2">
            <p>Reviewer role:&nbsp;&nbsp;
            <input type="radio" id="id" name="reviewer_role">
            <label for="reviewer_role">Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" id="id" name="reviewer_role">
            <label for="reviewer_role">No</label></p>
          </div>

          <div class="adbutton">
          <input type="submit" value="SIGN UP">
        </div>
        </form>

        <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
        <br><br><br>
    </div>
      

    <footer>
        <p>application@2022</p>
    </footer>
      
</body>
</html>